*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#055a05;
    --secondary-color:#f4a261;
    --accent1-color:#264653;
    --accent2-color:#e9c46a;
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font:Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
body{
    font-family:var(--body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}