
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:lightblue;
    padding: 10px;
}
nav a {
    color: white;
    padding: 10px;
    display: block;
}
h1 {
    color: lightblue;
    padding: 5rem;
}
main{
    max-width: 640px;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 0 30px #eee;
    float: right;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2);
    padding: 1rem;
    background-color:lightblue ;
    color: gray;
    text-align: center;
}

aside h2{
    position: absolute;
    top: 20px;
    left: 50px;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 1 rem;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
/*class selector*/
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    padding: 1rem;
    background-color:lightblue;
    color: #000;
}
aside{
    width: 20em;
    text-align: center;
}